.container{
    background-color:lightgreen;
    border: 10px dotted violet;
    width: 50%;
}

p{
    font-size: 3rem;
    font-weight: bold;
    color: green;
    border: 2px solid darkgray;
}

ul li{
    background-color: blue;
}